{% import "macros/scripts.html" as scripts %}
{% import "macros/macros.html" as macros %}
{% import "macros/head.html" as head %}
{% import "macros/sidebar.html" as sidebar %}

{% set author = load_data(path="author.toml") %}
{% set sidebar_nav = load_data(path="nav.toml") %}

<!DOCTYPE html>
<html lang="en-us">

  <head>
    {{ scripts::analytics_script() }}
    
    {{ head::links() }}
    {{ head::meta() }}

    {% block pagetitle %}
    {{ head::titlesite(page_title = "Home") }}
    {% endblock pagetitle %}

    {{ head::css() }}

    {{ head::icons() }}

    {{ head::rss() }}

    {{ head::mathjax() }}
  </head>

  <body>

    {# sidebar #}
    <!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
        styles, `#sidebar-checkbox` for behavior. -->
    <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

    <!-- Toggleable sidebar -->
    <div class="sidebar" id="sidebar">
      {{ sidebar::personal_info(gravatar = author.gravatar, description = author.description, contacts = author.contact) }}

      {% block navigation_list %}
      {{ sidebar::nav(navlist = sidebar_nav.nav, page_permalink = config.base_url) }}
      {% endblock navigation_list %}

      {{ sidebar::copyright(author_name = author.name) }}

      {{ sidebar::powered_by() }}

      {{ scripts::changing_words() }}
    </div>
    {# ### #}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">

      {% block masthead %}
      {{ macros::masthead(current_url=config.base_url) }}
      {% endblock masthead %}

      <div class="container content">

        {% block content %}
	      <div class="hero">
          <p>Estudante de Ciência da Computação na Universidade Federal de Viçosa e
            fundador do <a href='https://opensourcelabufv.github.io/' target='_blank' rel='noopener norreferer' class='underline'>Open Source Lab UFV</a>. Além disso, eu também escrevo as vezes. Quer saber mais? Pode conferir tudo na aba lateral.</p>
          
          <div class="info-holder">
            <h2>Meus Interesses e Inspirações</h2>
            <ul>
              <li><a href="https://ose-21.org/">Open Source Everything</a></li>
              <li>Anti-LGBTQIA+fobia</li>
              <li>Antirracismo</li>
              <li><a href="https://pt.wikipedia.org/wiki/Decrescimento_(economia)">Descrescimento Econômico</a></li>
            </ul>
          </div>

          <div class="info-holder">
            <h2>Em Tecnologia</h2>

            <ul>
              <li>Programação Funcional</li>
              <li>Computação Científica</li>
              <li>Programação Criativa</li>
            </ul>
          </div>
	      </div>
        {% endblock content %}

      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    {{ scripts::sidebar_script() }}


  </body>

  {{ scripts::disqus() }}

</html>
